.btn-choice{
    margin-top: 1vh;
    border-radius: 1em;
    border: 1.015px solid rgba(167, 233, 47, 0.70);
    background: rgba(167, 233, 47, 0.20);
    width: 80vw;    
    padding-left: 5%;
    text-align: left;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.btn-submit{
    position: relative;
    top: -10px;
    border-radius: 1em;
    text-decoration: none;
    border: 1.015px solid rgba(167, 233, 47, 0.70);
    background-color: #A7E92F;
    width: 80vw;
}
.btn-cc{
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    padding: 1vw;
    border-radius: 1em;
    width: 80vw;   
}

.btn-otp{
    font-size: 20px;
    padding: 2vh;
    position: relative;
    left: -10px;
    top: 10px;
}

.modal1-outer{
    overflow-y: hidden;
}

.modal1-p{
    position: relative;
    top: -20px;
}