@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.login-out{
    position: relative;
    top: 76vw;
    padding: 0 50px;
}

.login-heading{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2vh;
}
.flag{
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.input-phone-number{
    margin-bottom: 3vh;
}

.btn-height{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 15px 0;
    margin-bottom: 1vh;
}

.input-phone-number input[type=tel]{
    font-size: 16px;
    border: none;
    border-bottom: 2px solid rgb(154, 153, 153);
    width: 50vw;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    text-align: center;
}

.input-phone-number-right span{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    }

.input-phone-number input[type=tel]:focus{
    outline: none;
}

.input-phone-number-left{
    position: relative;
    top: 2px;
}

.input-phone-number-right{
    position: relative;
}

.input-phone-number ::placeholder{
    position: relative;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif; 
}

.disclaimer{
    margin-top: 24vh;
    position: relative;
    bottom: 0;
}
.disclaimer p{
    font-size: 15px;
    
}

.new-user-signup-message{
    font-size: 15px;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 1px;
}

.error-text {
    color: red;
    margin-top: 10px;
  }